/* ==========================================================================
   OB: ANIMATIONS
   ========================================================================== */

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

// animation transition used for Popups show/hide
.popup-enter-active,
.popup-leave-active {
    transition: opacity 0.3s;

    & > div {
        transition: transform 0.25s;
    }
}
.popup-enter,
.popup-leave-to {
    opacity: 0;

    & > div {
        transform: scale(0.8) translate3d(0, 0, 0);
    }
}

.slideandfade-enter-active,
.slideandfade-leave-active {
    transition: opacity 0.5s;

    & > div {
        transition: transform 0.5s;
    }
}
.slideandfade-enter,
.slideandfade-leave-to {
    opacity: 0;

    & > div {
        transform: translateY(100%) translate3d(0, 0, 0);
        opacity: 1;
    }
}

.slide-side-enter-active,
.slide-side-leave-active {
    transition: all 0.3s ease-out;
}
.slide-side-enter,
.slide-side-leave-to {
    transform: translateX(-100%);
}
