/* ==========================================================================
   #BOX-SIZING
   ========================================================================== */

/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */

:root {
    --sat: env(safe-area-inset-top);
}

html {
    box-sizing: border-box;
    min-height: calc(var(--vh, 1vh) * 100);
}

* {
    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

img {
    user-select: none;
    -webkit-touch-callout: none;
    transform: translateZ(0);

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
}

html {
    width: 100vw;
}

body {
    margin: 0;
    overflow-x: hidden;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
    left: 0;
    right: 0;
    color: var(--color-text);
    background-color: var(--color-bg);
    transition: background-color 0.3s;
    user-select: none;
}

a {
    color: var(--color-main);
    text-decoration: none;
    font-weight: 600;
}

a:visited {
    color: var(--color-main);
}

*:focus {
    outline: none;
}

p {
    margin: 0;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
