:root {
    // --color-primary: #ffa000; old..
    --color-main: #fb6d3a;
    --color-main-darker: #fa591e;
    --color-main-muted: #fca382;
    --color-main-disabled: #fedacd;
    --color-second: #0e2233;

    --color-error: #dd2c00;
    --color-success: #00e676;
    --color-info: #dbdee7;

    // z-indexes
    --z-mobile-header: 33;
    --z-mobile-header-spacer: -2;
    --z-foam: -1;
}

@mixin lightTheme() {
    --color-text: #3c3737;
    --color-text-second: #999faa;

    --bg: #e5e5e5; // body
    --bg-second: #ffffff; // page inner...
    --bg-third: #f2f4f8; // hover cards, +...

    --border-color: #ddd;
}

@mixin darkTheme() {
    --color-text: #ffffff;
    --color-text-second: #999faa;

    --bg: #3c3737;
    --bg-second: #332d2d;
    --bg-third: #514c4c;

    --border-color: #484c51;
}

html {
    @media (prefers-color-scheme: light) {
        @include lightTheme;
    }

    @media (prefers-color-scheme: dark) {
        @include darkTheme;
    }

    &[data-theme='light'] {
        @include lightTheme;

        @media (prefers-color-scheme: dark) {
            @include lightTheme;
        }
    }

    &[data-theme='dark'] {
        @include darkTheme;

        @media (prefers-color-scheme: light) {
            @include darkTheme;
        }
    }
}
