@import 'animations';
@import 'buttons';
@import 'inputs';
@import 'reset';
@import 'shared';
@import 'mixins';
@import 'global';
@import 'theme';

#app {
    font-family: '-apple-system', 'SF Pro Text', 'HelveticaNeue', 'Roboto', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 320px;
    font-size: 12pt;
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .content {
        flex: 1 0 auto;
    }
}

img {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    transform: translateZ(0);

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
}

html {
    width: 100vw;
}

body {
    margin: 0;
    overflow-x: hidden;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
    left: 0;
    right: 0;
    color: var(--color-text);
    background-color: var(--bg);
    transition: background-color 0.3s;
    user-select: none;
}

a {
    color: var(--color-main);
    text-decoration: none;
    font-weight: 600;
}

a:visited {
    color: var(--color-main);
}

*:focus {
    outline: none;
}

p {
    margin: 0;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

input,
.input,
.input::before {
    background-color: transparent !important;
    color: var(--color-second) !important;
}

.input {
    border: 1px solid var(--color-second);
}

.page-inner {
    background-color: var(--bg-second);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px;
    height: 100%;

    h1 {
        font-weight: 600;
        font-size: 26px;
        line-height: 26px;
        letter-spacing: -0.015em;
    }
}

.no-drag {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
}
